#style-switcher {
    left: -180px;
    position: fixed;
    top: 200px;
    width: 180px;
    z-index: 9999;    
    background: #fff;
    border-radius: 0 0 3px;
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .7s;
    transition-duration: .7s;      
}

#style-switcher div {
    padding: 5px 10px;
}

#style-switcher h2 {
    color: #222;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 15px 0px 7px 0px;
    text-align: center;
    text-transform: uppercase;
}

#style-switcher:hover{
    left: 0px;
}

#style-switcher h2 a {
    background: #222;
    border-radius: 0px 3px 3px 0px;
    display: block;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
}

#style-switcher h2 a i {
    color: #fff;
    font-size: 19px;
    left: 12px;
    position: absolute;
    top: 10px;
}

.colors {
    padding-left: 7px;
}

.colors {
    list-style: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

.colors li {
    float: left;
}

.colors li a {
	cursor: pointer;
	display: block;
	height: 30px;
	margin: 7px 9px;
	width: 30px;
    border-radius: 30px;
}

.style1 {
    background: #3F32D8;
}

.style2 {
    background: #2193f1;
}

.style3 {
    background: #2ebf7e;
}

.style4 {
    background: #f7c605;
}

.style5 {
    background: #38c5a7;
}

.style6 {
    background: #2b4fbd;
}



